[2017-03-18 17:37] tgxpuisb opened #2 "wether it support mobile phone"
i'm looking for a framework which can change theirs pages like native(iOS)

example: when the router is changing, the page can slide-in from the right, and the page can slide-out from right when i leave

i try to resolve it, but if the page can scroll, i can not made the page in right position when the page is changing

[2017-03-20 11:46] dimpiax opened #3 "[Safari] Doesn't work some features"
Arrows' flow and "Ctrl + right" / left doesn't work.
Sliding gesture skippes animation on arrival page.

[2017-03-20 11:52] Zulko commented on #3
Thanks for this. I cant reproduce the arrow problem as I dont have any safari access right now, but i'll have a look first chance i get.

Sliding is not supported right now (because of browser compatibility problems), it's just tapping left or right of the screen.

[2017-03-20 13:09] peterblazejewicz commented on #3
That's correct (mac OS Sierra/Safari 10.*). I'll dig into this locally

[2017-03-20 13:15] peterblazejewicz commented on #3
- this won't work in some Safari versions:
http://caniuse.com/#feat=keyboardevent-key
- this valuates to false:
[code]

[2017-03-20 13:16] dimpiax commented on #3
What if switch to `CMD`?

[2017-03-20 13:26] dimpiax commented on #3
Try this:
[code]

Can contribute after lunch ;)

[2017-03-20 15:09] dimpiax opened #5 "[Scripts] Need to add basic scripts"
We need some scripts for build and tests in NPM.

[2017-03-21 08:15] lkostrowski opened #6 "Throttle/debounce needed"
Just tested on chrome, mac os with Apple Magic Mouse.
The scroll here is very sensitive and with one, 'normal' finger swiper i moved all slides. I needed to use keyboard to see anything from demos ;)

[2017-03-21 08:25] Zulko commented on #6
Thanks for this. Not sure what to do as I've never seen magic mice before. Maybe a ``stopPropagation`` ?

Does it work if you just click on the left / right of the screen ?

[2017-03-21 10:49] vorthess commented on #6
Click is ok. Just both magic mouse and macbook touchpad AFAIK generates very high amount of scroll events, so it should be throttled/debounced to simulate only one scroll event. You can use lodash for it.

Here is how it looks with one scroll gesture on mac.

https://cl.ly/0M2Y1I1Y0K0k/Screen%20Recording%202017-03-21%20at%2011.49%20AM.gif

[2017-03-21 12:26] ghost opened #7 "vue-cli template"
It'd be nice to have a vue-cli template for this.

[2017-03-21 12:51] Zulko commented on #5
Not sure what you mean by "build script", but there is already the possibility to ``npm run build``.

[2017-03-21 12:52] dimpiax commented on #5
Don't see here `scripts`: https://github.com/Zulko/eagle.js/blob/master/package.json

[2017-03-21 15:41] vittorio-tortugo commented on #6
@Zulko i wrote a simple fix for this issue. What do i need to run to check it locally?

[2017-03-21 15:42] vorthess commented on #6
Mac :)

[2017-03-21 15:43] vittorio-tortugo commented on #6
@vorthess haha, correct. I meant which command should i run to build new version from sources?

[2017-03-21 15:45] vorthess commented on #6
Sorry, deleted comment, didn't want to troll after all :D

[2017-03-21 15:50] Zulko commented on #6
I may be the wrong guy I am pretty new to JS workflows. Right now you'd clone this repo, go to the example/boilerplate and type

[code]

Then you would go in the node_modules folder and create a symlink to the eagle.js code, which is the parent directory of ``example`` if you are using this repo:
[code]

Now every change you make in the source code of eagle will be used by the example project.

Un

[2017-03-21 15:55] vittorio-tortugo commented on #6
@vorthess no problem :)
@Zulko it's better if you'll describe this behaviour in readme or wiki. Better for future contributors  :)

[2017-03-21 15:57] Zulko commented on #6
I will, give me some time - this project is just a few days old !

In the meantime if anyone reading this has better suggestions for how to develop npm packages let me know.

[2017-03-27 07:04] imylomylo opened #9 "Next on iPad only works for 1 press"
Not sure how to get you more info but happy to help.

Affects:
Chrome on iPad
Safari on iPad

iOS version 10.2.1

Maybe chrome/safari remote debugging - will try later this week.

[2017-03-27 07:11] Zulko commented on #9
Sorry, im not sure what the bug is. What do you mean by "only works for 1 press" ?

[2017-03-27 23:57] imylomylo commented on #9
Only the next slide (pressing side od screen) works once, then no more next
or previous slides (pressing next or previous areas does nothing).  So the
presentation on ipad is stuck on slide 2 with only the love heart heading.
 e.g.  On desktop, using the scroll wheel for next slide, the entire
presentation can be viewed.

So, bug is cannot progress through slides after one press.  Better?

Cheers

[2017-03-29 16:18] elpete commented on #7
I wrote one up here: https://github.com/elpete/eaglejs-template

I'd be happy to transfer it.

[2017-03-29 23:11] Zulko commented on #7
@elpete looks very cool. I see that initially you had all slideshows, and you simplified to just one slideshow in Home.vue.

I think a middle solution would be to keep the structure of my example slides (in particular because it implements the "slideshow gallery" which is very practical) but keeping only the "my first slideshow" example, as it allows to start writing directly. I think it's a good

[2017-03-30 19:53] arnonuem opened #11 "Slides formatting issue"
Slides are not formatted correctly when 'eagle-recipes' is not included in 'slideshows.js'.
The height of 100% seems to have gone which makes the slide background looking ugly.

[2017-03-30 20:46] Zulko commented on #11
If you want to make your own themes, they should import [base.scss](https://github.com/Zulko/eagle.js/blob/master/src/themes/_base.scss) as a base, which defines the most important layout features.

The idea is that the base theme defines as little styles as possible so that you are really free of doing what you want in your own themes.

[2017-03-30 22:31] michgeek opened #12 "Do you have twitter?"
Just wonder if you have twitter so we can follow you! Cheers

[2017-03-31 19:14] arnonuem commented on #11
Could you please run a test with the following setup and evaluate the result to see that everything is like you expect it?

- clone https://github.com/Zulko/eaglejs-demo.git
- edit slideshows.js to just contain ".../FirstSlideshow"
  - remove `require('./introducing-eagle/IntroducingEagle'), require('./eagle-recipes/EagleRecipes'), require('./themes-slideshow/ThemesSlideshow'),`
- run and check th

[2017-03-31 20:39] elpete commented on #7
I've made those changes.  Let me know what you think.  Again, we can keep it under my namespace or transfer it.  Either way.

[2017-04-03 03:40] cuongngosa commented on #12
+1 me too

[2017-04-03 11:42] Zulko commented on #7
Cool, thanks. I think I'll create an eagle.js organization to host the library, the cli template, the demo, etc. Would you be interested in becoming a maintainer ?

[2017-04-03 11:46] elpete commented on #7
Sure thing. 😄

[2017-04-20 18:52] Wattos opened #13 "Use Eage.js as a library"
This looks really good!

I would like to  build slideshows dynamically from some content. Is it possible to use eagle.js as a library?

[2017-04-20 18:54] #13 closed

[2017-04-21 05:27] Wattos opened #14 "Library is not easily included into project"
First off, great work! This looks really good.

I am trying to include eagle.js as a library into my project, but it seems to be a lot of trouble to get running.

This is the following steps I exectuted:

`npm install --save eagle.js`

`import Eagle from 'eagle.js'` in my main.js

Unfortunately, it seems that eagle.js is no way build, so it will be build during my build process. That means I need

[2017-04-24 09:26] Zulko commented on #14
I'm a complete npm beginner unfortunately, I understand the problem but I may not be the best person to solve it (very very little time at the moment), so if yourself or anyone else wants to tackle this, I'm all for it.

[2017-05-01 05:17] ktsn commented on #14
Hello, I'm very interested in this library and want to include my app.
If anyone does not try to solve this yet, I'd like to work for it.

[2017-05-01 09:06] Zulko commented on #14
Thanks ! No one is working on this as far as I can tell so feel free :)

[2017-05-13 05:54] ndabAP opened #16 "[Vue warn]: The computed property "active" is already defined in data."
This is my setup:

[code]

And I get this warning:

[2017-05-13 10:35] ndabAP opened #17 "TypeError: Cannot set property 'fontSize' of undefined"
When I'm trying to organize my slides into sub components I get this error:

[code]

[2017-05-19 19:24] yaodingyd opened #18 "remove example folder from eagle.js main package"
As there is a dedicated repo https://github.com/Zulko/eaglejs-demo for demo, removing example folder only makes sense.

[2017-05-22 19:47] yaodingyd commented on #17
@ndabAP Did you miss template in your sub components? The error line should be `      this.$el.style.fontSize = (0.04 * Math.min(height, width)) + 'px' ` in `Slideshow.vue`, and it's because `this.$el` is not set

[2017-05-22 19:52] ndabAP commented on #17
Hey @yaodingyd and thanks a lot for your answer. Please check my project:

https://github.com/ndabAP/Single-page-applications-presentation/tree/master/src

There is also an online version:

https://ndabap.github.io/Single-page-applications-presentation/#/

[2017-05-22 20:37] yaodingyd commented on #17
@ndabAP You need to wrap another `div` around you `slide` in `SinglePageApplicationsToday.vue`. This is also a bug.

@Zulko  `Slide` component is wrapped inside a `AnimatedTransition` component, and its top element is called `transition`, but is not a valid html element. I think when vue initializes, it tried to find the `el` with `transition`, but got nothing back, so the `el` is undefined.

[2017-05-23 13:22] yaodingyd commented on #16
@Zulko  This is because in `Slideshow` component `active` is both in `data` and `computed`. Maybe the computed property can be renamed and watched to toggle slideshow visibility.

[2017-06-02 09:37] ndabAP commented on #17
@yaodingyd, that worked indeed. But since it's an error I let the issue open.

[2017-06-14 08:01] dcsan opened #21 "swipe support for mobile"
Hi! Looks like a great project, but when I opened a deck on my phone, it doesn't work. it suggests i use ctrl-arrow for navigation.

is there an example of using hammerJS or other tap/touch events to swipe for mobile?

[2017-06-14 08:53] Zulko commented on #21
It is not supposed to support swipe, you must click or touch on the left or right of the screen to go to the next/previous slide. Does it work when you touch the right/left borders of the screen on your phone ?

[2017-06-15 01:54] dcsan commented on #21
oh ok. I didn't think to try that, like most users.

revealJS works really nicely on mobile so I guess we should just use that if this isn't intended to support mobile type UI interactions?

[2017-06-15 07:09] Zulko commented on #21
If your presentation can be done using Reveal, you should use Reveal, it is simpler deploy/edit/etc.

You can also try to get HammerJS' swipe to work with Eagle it shouldnt be very difficult (when i first tried I had issues with some browsers though).

[2017-06-24 13:10] gpolitog commented on #21
+1 to add swipe support (maybe with another library if you already had issues with hammer), because swiping is what comes to the mind of a mobile user, who may not even think/try to tap left & right sides of the slide.

revealJS may be very popular, but Eagle is awsome because is Vue-powered.  You can use Eagle to create quizes, and send results to backend.  That wouldn't be easy with revealJS.

p

[2017-06-25 05:18] dcsan commented on #21
right. we were hoping to use the system for flashcards at least, and a fun quiz would be better :)

[2017-07-03 11:08] QuentinRoy opened #22 "Time for a new release?"
`eagle.js 0.1.2` does not include its dist folder on `npm`.

This is quite a problem as the current `main` field points toward a non-`require`-able un-transpiled module (c.f. #14).

@ktsn has done a great work in #15 in solving this issue. I am looking forward to use it.

[2017-07-03 11:57] Zulko commented on #22
Sorry for being a bad maintainer :disappointed:  I'll push the new version asap, possibly this evening.

[2017-07-04 03:27] QuentinRoy commented on #22
We all do what we can. :)
I really like the idea of using vue for slides. I agree with you it is perfect for it. Your system seems to combine readability and flexibility in a way I have not find with the other I have tried. I also really like the minimalistic/hackable approach. I often found myself very constrained by `Reveal.js` for example.
I wish I had the time to contribute (I realized eagle.j

[2017-07-04 04:32] QuentinRoy commented on #16
I suspect the one in `data` is overwritten by `computed` anyway. It can probably be safely removed.

[2017-07-05 12:47] yaodingyd commented on #16
@QuentinRoy Probably not. `data` `active` is used for initialization and `computed` `active` is used for watching changes. If simply removing `data` `active`, all slideshows are hidden and first  slideshow cannot show up properly. (details are in `findSlides` method called in component mount https://github.com/Zulko/eagle.js/blob/master/src/components/Slideshow.vue#L190)

[2017-07-05 13:49] QuentinRoy commented on #16
@yaodingyd I think the `active` you are pointing out here is the one of the children, isn't it? I don't seen any use of `Slideshow.active` other than the `watch` one. But I don't think that would change the fact that using `this.active` would give you the `computed` one anyway. If I am not mistaken, the `computed` one shadows the `data` one.

[2017-07-05 14:18] yaodingyd commented on #16
@QuentinRoy Yes you are right. But still the first **Slideshow** needs proper initialization.  All **Slide** are inactive when initialization, so if  **Slideshow**'s `data` `active` is removed, the `computed` `active` would always return false, and first **Slideshow** would be invisible too. I feel like I cannot explain that well here, you can try demo with removing `data` `active` and see for you

[2017-07-19 21:51] connor11528 commented on #16
I have this same issue. What is the best fix for making it work? Thank you

[2017-07-20 12:23] yaodingyd commented on #16
@connor11528 Since this is only a warning it should not effect your normal use case. Until it is fixed you just have to live with the warning.

[2017-08-12 23:31] c0b opened #23 "how about load each slides vue component async ?"
wonder if you have researched to load each slides' vue file as async component?

https://vuejs.org/v2/guide/components.html#Async-Components

I can think the current one file list all slides will have a scalability issue when there's growing too many slides in the central registration, and build into one js file will be big!
to the viewers, most probably view one or two slides only, it will be hea

[2017-08-13 03:03] c0b opened #24 "feature request: **PERMALINKS** Go to a specific slide."
like https://webslides.tv/#slide=4 **PERMALINKS**
Go to a specific slide.

I found the eagle.js from https://bestof.js.org/tags/presentation/trending/this-month looking for some revealjs alternative, one of the common feature available in others is the PERMALINKS but still lack in eagle.js ?

[2017-08-13 03:17] c0b commented on #24
reveal.js uses http://lab.hakim.se/reveal-js/#/6 as the permalink to specific slide,

can this url https://zulko.github.io/eaglejs-demo/#/introducing-eagle be redesigned to similar like

https://zulko.github.io/eaglejs-demo/introducing-eagle/#/<slide-number> or the webslides style by `#slide=4`

[2017-08-22 19:33] yaodingyd commented on #24
Because `vue-router` is not a dependency to eagle, I don't think implement permalinks inside eagle would be a good idea. But you can easily achieve this by use `vue-router`.

For example,  in project's built-in example, add params to route paths:
[code]

And inside a `Slideshow`, add watchers to update URL when slides changes, and update slides when URL changes:
[code]
You can use the above snippe

[2017-08-22 20:35] yaodingyd commented on #23
Not sure this is a valid concern.  For slides, only the current active one will be rendered, and compiling these inactive ones would take negligible overhead.  For inserted `slideshows`, surly you can use async component, like example follows vue's official guide:
[code]

[2017-08-22 23:22] c0b commented on #24
agree, that may not be part of core functions of eagle.js but could you deploy to the https://zulko.github.io/eaglejs-demo/ ? or switch to use http://eaglejspermalink.surge.sh as demo site?

just because from https://bestof.js.org/tags/presentation you can see: all js based presentation framework has the perma links as a **feature** it's pretty much a standard

and 'eaglejs-demo' can be called (or

[2017-08-22 23:24] c0b commented on #23
just think about the potential of this library can grow into a slides.com business, if started think about the multi-tenants, and the number of slides served grows big, will have to do loading async, right? together with #24 it may not necessarily be a core function of eagle.js but could be part of the eaglejs-boilerplate?

- https://slides.com/explore

[2017-08-26 14:35] Zulko commented on #18
done.

[2017-08-26 14:35] #18 closed

[2017-08-26 14:36] Zulko commented on #14
Should be fixed by the new release (hopefully, didn't have time to test)

[2017-08-26 14:36] #14 closed

[2017-08-26 14:37] Zulko commented on #22
Merged @ktsn's commit, and pushed the new version on npm.

[2017-08-26 14:37] #22 closed

[2017-09-01 17:18] yaodingyd commented on #16
@Zulko this issue can be closed after #26

[2017-09-01 17:19] yaodingyd commented on #17
@Zulko this issue can be closed after #26.

[2017-09-01 17:20] Zulko commented on #16
Thanks !

[2017-09-01 17:20] #16 closed

[2017-09-01 17:20] Zulko commented on #17
Thanks !

[2017-09-01 17:20] #17 closed

[2017-09-02 16:33] kumarbalap opened #27 "Is it possible to do auto slide with timers"
Is there any support for auto slide.

Thanks,
Bala

[2017-09-04 02:56] yaodingyd commented on #27
All `slideshow`'s APIs are public.

You can use
[code]
inside your `slideshow` component.

[2017-09-04 10:50] kumarbalap commented on #27
Awesome.. thanks @yaodingyd

[2017-09-08 00:17] jkwchui commented on #9
+1.  On iPad running iOS 10.3.3 I couldn't advance any slides.  Neither tapping edge of screen nor keyboard arrows work (on both Safari and Firefox).

[2017-09-16 17:25] SilverPaladin opened #28 "npm run dev error"
error when following install instructions: npm run dev results in
`npm ERR! Windows_NT 10.0.15063
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "dev"
npm ERR! node v6.11.3
npm ERR! npm  v3.10.10

npm ERR! missing script: dev
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/

[2017-09-16 18:31] SilverPaladin commented on #28
Gonna close this. just figured out the instructions were for the demo, not for the library.

[2017-09-16 18:31] #28 closed

[2017-10-10 19:03] dileep-kishore opened #29 "How can I include a slide progress indicator or slide number?"
I would like to include a slide progress indicator in my presentation. Something similar to what [spectacle](https://github.com/FormidableLabs/spectacle) has.

Is there an API I can use to keep track of this?

[2017-10-11 18:15] yaodingyd commented on #29
You can easily achieve this by using `slides` and `currentSlideIndex` in your `Slideshow` component.

example: [link](http://eaglejs-progress-indicator.surge.sh/#/introducing-eagle)

[2017-10-11 18:22] yaodingyd opened #30 "Can I become a maintainer?"
@Zulko I have been trying to find your contact but failed to do so, thus I open this issue hoping you could grant my permission to become a maintainer for this project and also the demo project.

I have been actively contributing to this project (#18 #23 #24 #25 #26 #27 #28) and also using Vue on work. I believe I could help other people make better use of this wonderful project.

Thank you!

[2017-10-12 03:37] dileep-kishore commented on #29
Thank you!

[2017-10-12 15:30] yaodingyd commented on #30
@Zulko  thanks!

[2017-10-12 15:35] yaodingyd commented on #24
As eagle doesn't have a dependency on any routing solutions for now, this is for user land to implement.

[2017-10-12 15:35] #24 closed

[2017-10-12 15:36] yaodingyd commented on #5
Script is added in `0.1.2` release.

[2017-10-12 15:36] #5 closed

[2017-10-12 15:41] yaodingyd commented on #2
@tgxpuisb  can you elaborate on the native behavior you want to achieve? Right now your description just seems like a transition effect.

[2017-10-12 15:52] yaodingyd commented on #30
@Zulko  Can I also be a maintainer on eagle.js-demo project? I'm thinking to add more use cases on the demo page.

[2017-10-12 16:07] Zulko commented on #30
Ok. Thanks for your interest by the way. Can you add a "maintainer" section in the readme with your (user)name and mine ?

[2017-10-12 16:11] yaodingyd commented on #30
@Zulko Gladly. Also what's your preferred workflow with collaborators? I intend to do the following:
1. add throttle and more mobile support to eagle.js
2. remove vue-route hard-coded part in some components
3. add tesing and CI

Do I create pull request for you or I can do it on my own? Is there a more effective way to communicate with you?

[2017-10-12 17:28] c0b commented on #24
So eaglejs-demo can be maintained as a more user-friendly eaglejs-boilerplate? then users can just copy from boilerplate and just modify content without too much hacking of js code? part of #30 have a list of nice-to-have features for maintainer roadmap?

[2017-10-12 17:34] yaodingyd commented on #24
The current eaglejs-demo does the basic setup already. This project is started with being hackable in mind, so all components are very "raw" and scaffolding is very basic . However there is another issue for vue-cli template and that issue is open for tracking this feature.

[2017-10-16 18:13] yaodingyd commented on #30
@Zulko could you get back to me at my last comment at your earliest convenience?

[2017-10-16 19:02] Zulko commented on #30
Sorry, I was away from the Internet.

I agree with your projects 1-2-3.

I don’t intend to work on the core code in the near future so feel free to push directly to master (we can instate pull requests later if more people are working on it at the same time).

I should get back to this project in around 1 month. My future contributions will certainly be satellite projects, such as widgets (timers

[2017-10-16 19:06] yaodingyd commented on #30
Thanks!

[2017-10-17 01:42] yaodingyd opened #31 "Event listener added to window instead of Slideshow element"
For event `click` and `wheel`, (or later added touch support), these should be registered to Slideshow element instead of window.

[2017-10-17 07:09] Zulko commented on #31
This one is a bit tricky actually, the change you propose will break a part of my demo slides.

In these demo slides I show a "slideshow inside a slideshow" (the one with deadpool). Right now, clicking on the right triggers a next slide event both in the whole slideshow and in the embedded slideshow, but with the change you propose only the embedding slideshow will advance, not the emmbedded one.

[2017-10-18 02:50] yaodingyd commented on #31
I do underestimate the workload, but I think I'm on to something here. I believe the 'inserted' and 'embedded' slide/slideshow have some inconsistency with event. I'll come with a better description of my findings.

[2017-10-18 17:43] yaodingyd commented on #11
@arnonuem I have run your steps and cannot reproduce your issue. If your issue persists, please open an issue in eaglejs-demo and attach an screenshot. Thanks.

[2017-10-18 17:43] #11 closed

[2017-10-18 20:51] yaodingyd opened #32 "`slide` should have default leave style"
In [theme demo](https://zulko.github.io/eaglejs-demo/#/themes-slidehow) page, advance to the third slide, then go back to the second slide, then the second slide would not have any transition effect showing up.

This is because the third slide has 'none' for `leave` property. This would happen for an even common case when user doesn't set `leave`property. Because `slide` is absolute position, late

[2017-10-19 20:44] yaodingyd opened #33 "#26 breaks all `slide` conditional rendering"
#26 introduced a fix for #17: if user didn't have a wrapper element for `slideshow`, when it's mounted, because all `slide` is set to `active: false` by default, so its DOM node will be a Comment node, thus `slideshow`'s `$el` would not have `fontSize` property.

The fix is simple but dumb: by adding a div for every `slide`, we can ensure that `slideshow` will always have a real DOM node, but this

[2017-10-25 18:51] yaodingyd commented on #32
Close this one as added in README.

[2017-10-25 18:51] #32 closed

[2017-10-25 19:14] yaodingyd commented on #2
Will reopen if issue has more details.

[2017-10-25 19:14] #2 closed

[2017-11-21 08:30] Bear4 opened #34 "npm run dev -> for demo"
error  in ./src/slideshows/themes-slideshow/ThemesSlideshow.vue
error  in ./src/slideshows/introducing-eagle/AwesomeInsertedSlide.vue
error  in ./src/slideshows/introducing-eagle/FiguresSlide.vue
error  in ./src/slideshows/eagle-recipes/DemoSlideshow.vue
error  in ./src/slideshows/introducing-eagle/components/EndCredits.vue
error  in ./src/slideshows/introducing-eagle/AwesomeEmbeddedSlideshow.vue

[2017-11-21 08:34] Zulko commented on #33
So, would you suggest to revert the whole pull request, or only the commit that fixes #17 ?

[2017-11-21 08:36] Zulko commented on #34
I don't get it and I don't have much time to work on it. Is the demo repo broken ?

[2017-11-21 14:11] Bear4 commented on #34
Seems to lack of 'node-sass' module ...

[2017-11-21 14:11] yaodingyd commented on #34
@Bear4 Your node-sass installment fails for reason not listed here in your issue. Try reinstall node-sass:
[code]

If this fails too, try

[code]

You can also delete your `package-lock.json` and `node_modules` and re-install whole dependencies.

[2017-11-21 14:13] Zulko commented on #34
I'm not sure I get it, shouldn't "node-sass" be installed when running eagle's "npm install" ?

[2017-11-21 14:15] yaodingyd commented on #33
This commit bd14f5b83c4713c7da1936912e5dfade5339cec9 fixes the issue and I have added notes in `slideshow` section in README. Although we do need a new npm publish.

[2017-11-27 14:25] yaodingyd commented on #34
@Bear4 If you still running into trouble setting up the demo project, please open up new issue [here](https://github.com/Zulko/eaglejs-demo/issues).

[2017-11-27 14:25] #34 closed

[2017-11-29 15:46] yaodingyd commented on #31
Considering how `inserted` and `embedded` slideshow works, event registering to window is proper. Will open another defect for my findings.

[2017-11-29 15:46] #31 closed

[2017-11-29 19:32] yaodingyd commented on #21
@Zulko  I'm thinking for all non-core functionalities, we create examples in demo repo to show users  how to integrate with third party libraries. If you are OK with this I'll get started with it. There are some examples that appeared in issues before: permalink  and timer.

[2017-12-12 15:40] JoelBender opened #35 "npm install warnings"
These warnings are shown at the end of the `npm install` output:
[code]
More info:
[code]

[2017-12-12 15:51] yaodingyd commented on #35
You can ignore this warning. fs-events is required on macOS.

[2017-12-12 15:51] #35 closed

[2017-12-12 15:59] JoelBender commented on #35
Thinking my installation was out-of-date (yep!) I updated to npm 5.5.1 and node v8.9.3 and the error message is now more descriptive:
[code]
Now running I'm getting this error:
[code]
So now i'm hunting down Sass issues.

[2017-12-12 16:03] yaodingyd commented on #35
You can try to rebuild node-sass `npm rebuild node-sass`. It works sometime.

[2017-12-12 17:02] JoelBender commented on #35
Thank you, that did it, I'm off and running... :+1:

[2017-12-14 15:53] yaodingyd commented on #21
Update in project Readme [here](https://github.com/Zulko/eagle.js#mobile-support).

[2017-12-14 15:53] #21 closed

[2017-12-14 15:53] #33 closed

[2017-12-19 14:30] yaodingyd commented on #6
Fixed with bd14f5b83c4713c7da1936912e5dfade5339cec9 and 0d771b385539b55c3f0dd27ed5dbe90a9379d65c

[2017-12-19 14:30] #6 closed

[2018-01-23 17:23] aminimalanimal opened #36 "Missing CSS Dependencies"
Under **Usage**, the documentation says to `import 'eagle.js/dist/eagle.css'` into your main.js file.
I did this and don't see any styles applied.

I installed eagle.js via npm (`yarn add eagle.js`) into a project bootstrapped with `vue init webpack`.

Also, the documentation mentions that eagle supports `animate.css` transitions. Is `animate.css` included within `eagle.css` or is it a separate de

[2018-01-23 17:43] yaodingyd commented on #36
Yes, we do need a new release. Currently you can use `eagle.js/dist/theme/base.css`. And you need to import animate.css in your main file. README file will be updated.

@Zulko time for a new release?

[2018-01-23 18:29] aminimalanimal commented on #36
Thanks @yaodingyd.

Sounds like the updated documentation should inform the user to add the following to the top of their main.js file:
[code]

That helped out a lot. I now have the styles I was expecting.

[2018-01-23 18:36] aminimalanimal commented on #36
There are still some anomalies in the documentation that I don't understand, and if you can help me suss them out, perhaps I can submit a PR with their corrections.

Under **slide** in the README, the example shows `:` vue-bindings on `enter` and `leave`. Was this intentional?
[code]

In the [Introducing Eagle demo](https://zulko.github.io/eaglejs-demo/#/introducing-eagle), `enter` is applied dire

[2018-01-23 18:55] yaodingyd commented on #36
@aminimalanimal  Do you have a example repo and online sandbox I can look at?

[2018-01-23 18:58] yaodingyd commented on #36
@aminimalanimal  The README do have typos and some confusing writings. Please submit a PR if you find one, and thanks!

[2018-01-23 19:04] aminimalanimal commented on #36
@yaodingyd I thought I found typos, but that misunderstanding was happening because of the issue I'm having with `slide`. Let me see if I can set up a sandbox to demonstrate.

[2018-01-23 19:32] aminimalanimal commented on #36
Alright, I got a sandbox set up. Took a while because it doesn't support pug. :P
Also, note that the sandbox forces me to set a static height on the slideshow to get it to appear.

[Sandbox - `enter` and `leave` transitions not working on `slide`](https://codesandbox.io/s/82mqm055zj?autoresize=1&module=%2Fcomponents%2FSlideShow.vue)

[2018-01-23 19:47] yaodingyd commented on #36
@aminimalanimal  I'm so sorry. `0.1.3` have a breaking issue #33. For now you can use `0.1.2` but still there's a lot of console error you will see.

We will roll up a new release in no time.

[2018-01-23 20:32] aminimalanimal commented on #36
@yaodingyd awww, no need to apologize—thanks for patching it so quickly! I just installed the new version and it works. (I like that you got rid of the need to `import 'eagle.js/dist/themes/base.css'`, too.) Closing. :)

[2018-01-23 20:32] #36 closed

[2018-01-29 10:18] QuentinRoy commented on #3
No need for a new dependency. `addEventListener('keydown', () => { \* ... *\ });` works just as well.

[2018-02-06 14:06] flesser opened #37 "Keyboard navigation disables all other keyboard-based browser interaction"
Is there a reason for [`evt.preventDefault()`](https://github.com/Zulko/eagle.js/blob/master/src/components/Slideshow.vue#L184) in the Slideshow component's `keydown` handler?

It prevents other keyboard shortcuts from working (like pressing F11 in Firefox to enter/leave fullscreen mode).

I just tested to remove that line in my local copy and have seen no negative side-effects so far.

[2018-02-06 14:24] yaodingyd commented on #37
Good point. I'll look into this further.

[2018-02-09 02:45] yaodingyd commented on #37
It seems the `preventDefault` is redundant and actually causing some issues (#3).

[2018-02-14 17:04] #37 closed

[2018-02-14 17:05] yaodingyd commented on #3
Please use command + right/left in Mac as ctrl + right/left is move screen by default.

[2018-02-14 17:05] #3 closed

[2018-02-14 17:05] #9 closed

[2018-02-14 17:07] yaodingyd commented on #9
fixed in `0.1.5`.

[2018-02-14 17:08] yaodingyd commented on #37
fixed in `0.1.5`

[2018-03-02 10:44] vinaysaini opened #40 "w/mn"

[2018-03-02 12:06] #40 closed

[2018-03-26 13:57] italomaia opened #41 "Add diagram support"
It would be quite nice to be able to easely create diagrams with eagle.

[2018-03-26 14:07] yaodingyd commented on #41
What kind of diagrams do you want to use in eagle.js?

You can always use other vue diagram libraries inside eagle.js. Do you have
any special functionality in your mind?

On Mon, Mar 26, 2018 at 09:57 Italo Maia <notifications@github.com> wrote:

[2018-03-26 14:56] Zulko commented on #41
I agree with @yaodingyd, with Eagle your slideshow is a Vue project so you can embed any other diagram javascript framework. See [here](https://github.com/Zulko/eaglejs-demo/blob/master/src/slideshows/introducing-eagle/FiguresSlide.vue#L21-L22) for an example with Chart.js.

To see this example in action (warning, it's convoluted) go to the [demo slides](https://zulko.github.io/eaglejs-demo/#/intr

[2018-04-05 11:21] flipdav8 opened #42 "npm install issue"
Hi there,

Thanks for the work, this looks amazing!

I am having an issue. After npm install it says this

Downloading binary from https://github.com/sass/node-sass/releases/download/v4.5.0/win32-x64-57_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v4.5.0/win32-x64-57_binding.node":

Any suggestions?

[2018-04-05 14:25] yaodingyd commented on #42
Are you using Node 9? If so downgrade to node 8.

[2018-04-05 14:26] yaodingyd commented on #41
@italomaia I'll close this for now. Will reopen it ff you have any ideas coming up.

[2018-04-05 14:26] #41 closed

[2018-04-07 14:17] gnesher opened #43 "npm run dev throws an error"
Just did a clean install (cloned repo, installed dependencies and ran `npm run dev`)
I'm getting the following error which isn't very helpful:
[code]
The demo does load and I can't tell exactly what's broken - but it's a little disconcerting

[2018-04-07 20:45] yaodingyd commented on #43
This is a bug with `opn`. Since it's difficult to debug as it's relevant to node version and your OS, I recommend you look for `autoOpenBrowser` in `/config/index.js` and set it to false.

[2018-04-12 03:52] lsshawn opened #44 "nuxt generate routes"
Anyone had experience using this with Nuxt?

I'm wondering how to generate the routes for each individual presentation.

[2018-04-12 21:46] yaodingyd commented on #44
By "each individual presentation" do you mean each `slideshow`? If so, put one `slideshow` in one .vue file and it works as a regular vue application.

[2018-04-17 16:42] yaodingyd commented on #42
will reopen for more details.

[2018-04-17 16:42] #42 closed

[2018-04-17 16:42] yaodingyd commented on #43
will reopen for more details

[2018-04-17 16:42] #43 closed

[2018-04-23 19:13] yaodingyd opened #45 "Presenter mode"
@Zulko I'm thinking adding a presenter mode with postMessage API. what do you think? Does it need to be in core or a plug-in is good?

[2018-04-23 20:47] Zulko commented on #45
Hey, I think a plugin would be very nice if it's possible to make it as a plug-in, otherwise core. Sounds very interesting. If all goes as I expect I'll come back to this project in the next months.

[2018-04-29 14:39] leomeloxp commented on #45
@yaodingyd Do you mean something like speaker notes? ie, having what you intend to say on one window and the slides on another?

<details>
<summary>eg this example from Google Slides</summary>

![](https://i0.wp.com/alicekeeler.com/wp-content/uploads/2014/11/Screen-Shot-2014-11-20-at-2.47.32-PM.png)

</details>

This would be an awesome feature!

[2018-04-29 17:36] yaodingyd commented on #45
@leomeloxp yes! This is a PR #46 and any reviews are welcome.

[2018-04-30 09:17] leomeloxp commented on #45
@yaodingyd Awesome. Seen your comments there, looks promising. I got a talk coming up this weekend where I'll be using eagle.js for the slides. I'll try to checkout your PR version and test it before then (might even risk using it on my talk as it's for a local meet up).

[2018-05-04 11:55] raLaaaa opened #47 "Trigger reload of slide container when adding slides dynamically"
Hey there,

I've currently implemented a basic slideshow with various different slides.
My slides are stored in an array called active slides and are iterated as shown in the following example:

`slide(v-for="(slide, index) in activeSlides"...`

Everything works fine and slides are rendered successfully. How ever I want do add new slides dynamically to my presentation so I decided to add them to m

[2018-05-04 11:59] Zulko commented on #47
Vue doesnt react to arrays/objects the same way as other variables. See the top of this page:

https://vuejs.org/2016/02/06/common-gotchas/

[2018-05-04 13:51] raLaaaa commented on #47
I think I identified the true problem:

[code]
               <p>Test</p>

this does not work, how ever this does:

[code]
Is slide not working with v-for?

[2018-05-04 13:57] yaodingyd commented on #47
You need to update `slides` after you reset your slide component

[code]

Also pay attention if your new activeSlides is smaller than before, you might need to manually set `currentSlideIndex` too.

[2018-05-04 13:59] Zulko commented on #47
@raLaaaa if you use v-for you elements should have a ``:key=``, it is very important for reactivity.

[2018-05-04 14:04] raLaaaa commented on #47
@yaodingyd I think this did it for me, thanks for clarification!
@Zulko as I'm relatively new to vue I'm not really sure about this, I'll read about it and keep your hint in mind.

Thank you two :) !

[2018-05-04 14:04] #47 closed

[2018-05-04 14:06] Zulko commented on #47
Cool ! But I really hope this can also be solved without ``$nextTick``. I've done a few projects with Vue and I always find a way to avoid "$nextTick".

[2018-05-04 14:17] yaodingyd commented on #47
@Zulko  I don't find a good solution bypass `$nextTick`. `findSlides()` checks slideshow's `$children` and its reactivity takes time. Without `$nextTick`, `findSlides()` would still uses the old `$children` to set slides.

Unrelated, do you think we need to wrap `mounted` method inside a function (maybe called `init`) and user could re-`init` without refresh?

[2018-05-26 18:11] yaodingyd commented on #44
Close this for now. Will reopen if you have more questions.

[2018-05-26 18:11] #44 closed

[2018-05-28 10:44] angeliski commented on #7
Hey @Zulko , you need help to create the organization?
I would be happy to help :)

[2018-05-28 10:53] angeliski opened #51 "Why ISC licence?"
I would like to know, if possible, why you choose the ISC over MIT.

Anyway, great job with that library.

[2018-05-28 11:01] Zulko commented on #51
thanks. No particular reason,MIT and ISC are [very similar](https://gist.github.com/indexzero/10602128), and ISC seems more popular on NPM.

[2018-05-28 11:01] #51 closed

[2018-05-28 11:02] Zulko commented on #7
No I was just swamped and I wanted to try my hand with organizations on a new project first.  Will certainly do the change soon.

[2018-05-28 14:17] raLaaaa opened #52 "Reuse setInterval for individual slide durations"
Hey there,

I'm currently trying to implement a feature which allows me to have different durations for different slides.
For instance: I want one slide to be displayed 10 seconds and one slide to be displayed 5 seconds.

[code]

I'm currently using the setInterval method on my mounted function.
Furthermore I have overwritten the nextStep function in order to check which slide is currently display

[2018-05-29 13:47] yaodingyd commented on #52
Can you scale `steps` for each slide? For example, you have a fixed time interval to call `nextStep` on mounted. We use first slide as base to measure time, steps increment by 1, then if you want second slide to take twice as long, then steps increment by 2, and so on for three times as long, four times as long...for each step.

[2018-05-29 13:51] Zulko commented on #52
A long time ago I had this intention to add an attribute "slideData" to slides, which is an object with any kind of data that external plugins/widgets can use. Then it's easy to have a widget ``navigator(currentSlide)`` which can react to new slides, for instance by setting a ``setInterval`` with delay ``currentSlide.slideData.duration``.

[2018-06-03 19:38] larsenwork opened #53 "Add CommonJS build: Bug? Unexpected token {"
Using it with Nuxt (with server side rendering turned off for the plugin) and I'm getting this error when I reload a page:

[code]

The vue file looks like this:
[code]

and I'm registering the plugin like this
[code]

and then like this in nuxt config

[code]

[2018-06-04 19:42] yaodingyd commented on #53
Eagle.js currently only has ES6 dist file. By default Nuxt would expect all your `node_modules` files have CommonJS modules. So the ES6 module would fail.

You can add the following to your nuxt.config.js, inside `build`-> `extend`:

[code]

[2018-06-04 19:43] yaodingyd commented on #52
@raLaaaa is your issue resolved now?

[2018-06-05 08:36] larsenwork commented on #53
@yaodingyd thanks for the reply — tried the above and also stuff like
[code]
but still get the same error.
Any ideas?

[2018-06-05 12:56] yaodingyd commented on #53
You can go to `node_modules/eagle.js/dist/eagle.js` and change all ES6 module to CommonJS module, namely:

[code]

to
[code]

[2018-06-05 13:05] raLaaaa commented on #52
Hey, sorry for the late response and thanks for your help.
I was able to figure it out!

@Zulko how comes you ended up not implementing "slideData" ?

[2018-06-05 14:05] Zulko commented on #52
Because I'm lazy :)

Also I got swamped in other projects, with very little use of the library (I usually do PDF slideshows now) so it's better if people who seem use it more, like @yaodingyd, take care of the project.

I had lots of plans for Eagle at some point, mostly fun features (including slides with auto-play and audio, a timer that skips your slides automatically or warns you when you are

[2018-06-05 14:25] Allanon29 opened #54 "SyntaxError: Unexpected token import when used in Nuxt.js"
I installed eagle through npm, and when I add it to a nuxt plugin:
`/plugins/eagle_slider.js`

[code]

I get the following error:
[code]

[code]

package.json contains:
`"eagle.js": "^0.1.5"`

Any idea why this happens?

[2018-06-05 14:27] Zulko commented on #54
I believe this is related to #53

[2018-06-05 14:37] larsenwork commented on #53
Cheers, should anybody else be interested I ended up just using a subset like this (bundle size was initially very big): https://github.com/Zulko/eagle.js/compare/master...larsenwork:master#diff-1c90ff38a08209f9ebd4d05d1e43358e

And then changing rollup config to cjs https://github.com/Zulko/eagle.js/compare/master...larsenwork:master#diff-6928d5da7f63eff413032c5c409ba617

[2018-06-05 14:56] Allanon29 commented on #54
@Zulko Thanks for the quick answer! @yaodingyd 's second answer helped.

[2018-06-05 14:56] #54 closed

[2018-06-05 15:00] yaodingyd commented on #53
Reopen this for tracking CommonJS build

[2018-06-05 19:43] yaodingyd commented on #52
reopen to tracking possible feature

[2018-06-05 19:58] #45 closed

[2018-06-05 19:59] yaodingyd commented on #53
`0.2.0` is out now :-)

[2018-06-05 19:59] #53 closed

[2018-06-05 20:46] larsenwork opened #55 "Suggestion: make it easier to only include some components"
As the title says — currently the webpack bundle when using default eagle.js becomes quite big (I think mine jumped from ~90kb to ~700kb).
The biggest culprit is the highlight.js dependency but ideally any component besides the main slideshow and slide component should only be included if explicitly imported/used.

[2018-06-05 20:54] larsenwork opened #56 "Suggestion: Import only throttle from lodash"
Either with https://www.npmjs.com/package/lodash.throttle or as part of babel using something like https://github.com/lodash/babel-plugin-lodash

Would shave maybe 100kb off the bundle size.

[2018-06-06 06:18] Allanon29 opened #57 "Jump back to first slide after last"
Is there a recommended way to jump back to the first slide after reaching the last?

[2018-06-06 06:58] Allanon29 commented on #57
Solved it:
[code]

[2018-06-06 17:08] #57 closed

[2018-06-08 05:27] ksnyde opened #58 "Cascade of error in console"
I've created my "HelloWorld" presentation with Eagle and am excited to go further but even though I made every attempt to follow the directions provided I am getting a lot of errors:

![image](https://user-images.githubusercontent.com/980757/41140337-b8d647ba-6aa1-11e8-9024-1cb2fb2a1d31.png)

Note, the presentation IS presenting and navigation controls seem to work. Maybe I'm making a newbie mista

[2018-06-08 05:37] #58 closed

[2018-06-08 11:11] christianw opened #59 "router-link propagates click"
Before anything else: eagle.js is a fantastic framework!

Having mouseNavigation enabled and using router-link in a template to redirect to another slide, the click is recorded again on the new slide and the next step (in my case the next slide) is shown. I could not find a way to fix this.

Regards
Christian

[2018-06-08 13:42] yaodingyd commented on #59
@christianw  can you provide a sandbox link?

[2018-06-08 15:59] christianw commented on #59
Thanks for the quick answer. It happens (for me) with every <router-link> to another slide. The correct slide gets activated, the the click is again captures on this slide and the next slide is shown.

I managed to solve it, though, by using <router-link v-on:click.native.stop.prevent> and in this way stopping event propagation. Maybe that's the best way for now and perhaps it could be added in th

[2018-06-11 19:20] christianw opened #60 "Hammer.js integration"
At least for me, swiping does not work with `new Hammer(window)` on phones. It works fine on desktop browsers with the swiping emulation.

Changing `Hammer(window)` to `Hammer(getElementById('app'))` works out of the box for desktop and mobile.

Maybe you can change the example?

[2018-06-15 18:50] yaodingyd commented on #59
@christianw any PR is welcome!

[2018-06-15 18:50] #59 closed

[2018-06-17 15:21] yaodingyd commented on #56
Feature done in be034c7134eabef723137f7c3b2e31b67759168a

[2018-06-17 15:21] #56 closed

[2018-06-17 19:09] larsenwork commented on #56
Yeah, saw that — great update 👍

[2018-06-17 21:43] yaodingyd commented on #55
@larsenwork  Because hightlight.js is still a dependency to eagle.js. To remove the hard dependency I'm thinking two ways:

1. expose a prop on `eg-code-comment` for user to hook in their own highlight.js per instance
2. expose an option on eagle.js for user to hook in hightlight.js globally

What do you think?

[2018-06-18 09:08] larsenwork commented on #55
Not sure what would be the best approach — my issue is not that I want to use "my own" highlight.js — it's that I don't need it at all.

I wonder if there's a way to make sure the es6 build is structured in separate files instead of only one `eagle.es.js` file — this way webpack (or whatever the user is using) should be able to only include `highlight.js` if one imports the codeComment/Block compo

[2018-06-18 14:32] yaodingyd commented on #55
Personally I don't think this approach. It would break how current import works. Currently you can import default to install all components, but your suggestion would make import looks like:

[code]

There is no way to default import all components, and importing each widget is just a pain.

You can achieve importing widgets only from main entry but it needs some other babel plugin, like this http

[2018-06-22 15:15] yaodingyd commented on #60
I tested [this](https://codesandbox.io/s/2k3nv4xp) on my iphone SE Safari and Chrome, swiping works fine in both browser. Can you share a link?

[2018-06-26 17:41] yaodingyd commented on #55
@larsenwork any followup thoughts?

[2018-06-28 06:52] larsenwork commented on #55
Sorry, I'm not too experienced in creating vue components — but yeah, moving out highlight.js and animate.css seems like a very good idea :)

[2018-07-09 18:55] yaodingyd commented on #60
Closing for now. Happy to reopen and investigate if you have any updates.@christianw

[2018-07-09 18:55] #60 closed

[2018-07-09 20:41] yaodingyd commented on #55
Fixed in `0.3.0` release.

[2018-07-09 20:41] #55 closed

[2018-08-14 18:35] nkoehring opened #62 "Slides not Zoomable"
If you use the browser zoom, nothing changes.

[2018-08-17 15:51] yaodingyd commented on #62
Can you specify what browser did you use? Maybe a gif or video would really help.

[2018-09-07 12:38] yaodingyd commented on #62
Can reproduce. Investigating.

[2018-09-07 20:17] yaodingyd commented on #62
This is more like a feature. This is because eagle.js dynamically set font size based on viewport size. Realjs has the same behavior. Anyway a new zoom feature is added.

[2018-09-07 20:17] #62 closed

[2018-09-26 08:59] chambas opened #64 "Subslide doesn't update"
Using the example (https://github.com/Zulko/eaglejs-demo/tree/master/src/slideshows/eagle-recipes),
the subslide with the code
`eg-code-block(lang='html').`
doesn't update. No matter what you write in there it always show the first block that it was render.

[2018-09-26 16:11] yaodingyd commented on #64
Demo project will be updated shortly.

[2018-09-27 14:58] chambas commented on #64
And regarding this issue?

[2018-09-27 15:12] yaodingyd commented on #64
Turns out to be a bug. Will fix this later.

[2018-09-27 15:13] yaodingyd commented on #64
https://github.com/Zulko/eagle.js/blob/3c42d5009ee48f65730f6057d615ff096414b6ab/src/components/widgets/CodeBlock.vue#L27

`this.update` should run in `updated` life cycle hook too.

[2018-09-28 06:43] va3093 opened #65 "Add demo gif to README"
__Disclaimer: This is a bot__

 It looks like your repo is trending. The [github_trending_videos](https://www.instagram.com/github_trending_videos/) Instgram account automatically shows the demo gifs of trending repos in Github.

Your README doesn't seem to have any demo gifs. Add one and the next time the parser runs it will pick it up and post it on its Instagram feed. If you don't want to just

[2018-09-28 13:29] yaodingyd commented on #65
There are gifs in readme and I think your Instgram is correctly displaying the gif. Thanks!

[2018-09-28 13:29] #65 closed

[2018-09-28 15:58] yaodingyd commented on #64
Please checkout the latest eaglejs-demo.

[2018-09-28 15:58] #64 closed

[2018-09-28 16:00] yaodingyd opened #66 "Update all docs on the usage of pug"
Eagle.js doesn't depend on pug and it is discouraging for some people are under the impression that eagle.js does.

[2018-10-04 03:35] bgschiller opened #67 "insert slide from component"
I've been using eagle.js to make slides for an upcoming conference talk. Very nice! It addresses a couple of the complaints I had about using mdx-deck (their `<Appear>` component doesn't work to reveal deeply nested pieces, and it wasn't Vue!).

One difficulty I've run into is including a slide defined in another component. I've written most of my slides inline in App.vue. One of them is too big t

[2018-10-04 07:48] ruudboon commented on #57
When using this method vue generates a warning.
What is a better way to attach the event?

[code]

[2018-10-04 08:08] Zulko commented on #67
Can you also share the code of your master document where you import the slide ? Have you tried with just text, to be sure its not a problem with the SVG ? Do you see a javascript error when opening your browser's developer toolkit ?

Two other remarks unrelated to this error. I recommend putting the SVG in its own ``.svg`` file and including it using include, it will work. (I use such an animated

[2018-10-04 15:02] bgschiller commented on #67
Thanks! Moving the steps part to `props` did the trick actually. I guess `steps` value needs to be supplied to the `eagle.slide` mixin?

To answer your questions: There were no JS errors in the console. The master doc script part looks like this
[code]

[2018-10-04 15:02] #67 closed

[2018-10-09 22:58] pjforde1978 commented on #52
@Zulko for what it's worth, I have found [vue-plyr](https://github.com/redxtech/vue-plyr) to be a great solution for easily dropping in audio and video to slides.

@raLaaaa do you have a link to your implementation for advancing slides on a timer? I am very new to Vue and something seemingly simple has a significant learning curve. I would love to be able to include a mixin that would allow me to

[2018-10-12 00:59] pjforde1978 opened #68 "Warnings when including slides"
My primary Slideshow was getting unwieldy, so I moved the individual slides into components. Functionally, it works great.

However, my debug console is now blowing up with 4 warnings for every included slide:

`[Vue warn]: Error in mounted hook: "TypeError: Cannot set property 'fontSize' of undefined" found in ---> <Intro> at src/slideshows/xxx/Intro.vue`

`TypeError: Cannot set property 'fontSiz

[2018-10-12 13:35] yaodingyd commented on #68
Can you use this link https://codesandbox.io/s/m5w17zvp39 to reproduce your issue please?

[2018-10-12 15:38] yaodingyd commented on #52
@pjforde1978 You should can check this out https://codesandbox.io/s/0qxk0llro0

[2018-10-18 05:36] pjforde1978 commented on #52
@yaodingyd Thank you so much for putting that example together. I got it working as advertised, and ultimately realized that this is half the job - I now need to figure out something similar for steps. You've given me an excellent starting point.

[2018-10-18 08:36] pjforde1978 commented on #68
@yaodingyd yes, I can: https://codesandbox.io/s/7wr3vv5k7x

[2018-10-18 13:02] yaodingyd commented on #68
Any `slideshow` should always have a wrapper on `slide`. `slideshow` initialization expects there is at least one element.

I will add this to readme, or if you like, a PR is welcome!

Thanks!

[2018-10-18 13:02] #68 closed

[2018-10-18 13:19] pjforde1978 commented on #68
@yaodingyd I'm so sorry - I don't understand your answer. I'm new to Eagle and to Vue.

If I knew how to fix this, I would. ;)

[2018-10-18 16:01] yaodingyd commented on #68
No worry. I mean you can add a div before your slide in Example.vue

[2018-10-18 21:59] pjforde1978 commented on #68
@yaodingyd Of course, it would be so simple. Thank you very much - it works like a charm, now.

[2018-11-06 22:37] vad11 opened #69 "Please RTL version!"
Reduced test case: https://codesandbox.io/s/m5w17zvp39

[2018-11-07 01:10] Zulko commented on #69
?

[2018-11-13 19:58] moteey opened #70 "Adding slides dynamically with v-for"
I have a case where I need to display slides from an array with v-for.

If I have the array in component's data function, everything works fine (seems like slides are initialized when the slideshow is mounted).

However, if my array is empty when the slideshow is mounted, and later changed (via Vuex), then I get the following error:

`[Vue warn]: Error in mounted hook: "TypeError: Cannot set prope

[2018-11-13 20:38] yaodingyd commented on #70
Two step:
1. your array has to have at least 1 slide for now. It can be empty slide like `<slide/>`, but there must be at least 1 slide for slideshow to initialize properly.
2. After your state changed You can call 'findSlides()' to reinitialize

[2018-11-13 21:11] moteey commented on #70
Thanks, that was very helpful!

[2018-11-13 21:49] yaodingyd commented on #70
Can you do it in your state setting? something like initial state is one dummy slide, then vuex will mutate state to your real slides?

[2018-11-13 22:50] moteey commented on #70
I'm doing something similar, yes.

Problem is that `this.slides` ends up with one item too many after calling `this.findSlides()` for the second time. Probably because that method adds onto `this.slides`, so the "dummy" slide is never removed from there.

That results in one extra step in the beginning, so I have to press "Next" to go to the first slide.

Pasting a simplified example below (change

[2018-11-14 01:52] yaodingyd commented on #70
Actually, you can manually set `this.slides` be to empty before `this.findSlides`

[2018-11-14 15:40] moteey commented on #70
Yeah, was still running into issues when I did that - having an empty slide at the beginning.

Turns out that `this.currentSlide` was still holding a reference to the old slide, so I did this: this.currentSlide = this.slides[0]` (after calling `this.findSlides()`).

This seems to solve it for now 👍

[2018-11-14 16:52] yaodingyd commented on #70
If you want to do it, a PR is welcome

[2018-11-17 21:43] killua99 commented on #70
@moteey could I see a code snipe of that implementation? Thanks

[2018-11-18 07:56] killua99 opened #71 "support transition speed"
I would like to know how could be the best option to alter the speed between enter and leave. I'm new into vuejs and I'm trying my best to understand the transition between components

[2018-11-18 08:53] Zulko commented on #71
If you are using the classical transitions from Aminate.css (such as ``zoomIn``, ``slideOut``, etc.) then have a look at the Animate.css README:

https://github.com/daneden/animate.css

It seems that Animate.css now supports speed and delay tuning. I haven't tried it, but theoretically all you need to do is to provide ``zoomIn fast`` or ``zoomOut slow`` as transitions.

To undestand transitions: W

[2018-11-18 16:03] killua99 commented on #71
It was that simple, thanks for the quick response I was confusing where I should solve or alter it, with CSS is just the best way to play with it, I create my on CSS class and use the speed I wanted.

[2018-11-19 09:39] Zulko commented on #71
All good then !

[2018-11-19 09:39] #71 closed

[2018-11-19 14:13] yaodingyd commented on #71
I guess We can use `option` to global set delay and speed

[2018-11-19 14:17] Zulko commented on #71
Imho ``zoomIn slow`` is simple enough to avoid extending the Eagle API. And it only works for animatecss transitions.

[2018-12-06 16:03] atorscho commented on #66
Other than that, people who don't use Pug have some troubles reading the documentation. No need to force it.

[2018-12-13 15:14] yaodingyd commented on #70
`finsSlides` would do initialization correctly in `v0.4.2`

[2018-12-13 15:14] #70 closed

[2018-12-13 15:21] yaodingyd commented on #12
Seems like the man doesn't have twitter.

[2018-12-13 15:21] #12 closed

[2018-12-13 15:30] Zulko commented on #12
I don't :(

[2018-12-21 15:06] alex-exerve opened #72 "Feature Request: Allow presenter mode toggle key to be defined and/or tuned off"
Yesterday I was giving a presentation on making provide/inject in vue reactive. This slide deck includes areas where you can type a message. As I was typing a message, presenter mode popped up. While I appreciate presenter mode, I really want to turn it off without disabling keyboard navigation.

I'll see if i can add a PR with a potential solution for it this evening.

[2018-12-21 15:10] Zulko commented on #72
It seems that this wont happen if you disable keyboard navigation for the slideshow or the individual slide.

[2018-12-21 15:13] alex-exerve commented on #72
Correct, but seeing as how i was using keyboard navigation, i should be able to reassign the hardcoded presenter mode key.

[2018-12-25 13:46] sunupf opened #73 "All My Slide is visible when start"
Hi,

I try to separated one component for 1 slide , you can access my code here https://codesandbox.io/s/w0q3jr6mp5

As you can see. Both of Slides showed at the first time we run the slide.

more over, the transition when using LeavePrev and LeaveNext is broken also

Can you help me? because I don't see any error message on console.

Thanks

[2018-12-26 14:02] #72 closed

[2018-12-26 16:45] yaodingyd commented on #73
The bug is fixed in `0.4.3`.

You also need to set your slideshow(slide1 and slide2) to be `inserted` to be working https://codesandbox.io/s/10pn34k3mj

All nested slideshow need to set to either `inserted` or `embedded` https://github.com/Zulko/eagle.js#nested-slideshow

[2018-12-26 16:47] yaodingyd commented on #73
The remaining issue is for slide transition effect can't be visible when slideshow is turning to inactive

[2018-12-27 08:56] sunupf commented on #73
Noted. Will check it soon. Awesome update (y)

[2019-01-08 13:19] yaodingyd commented on #47
@sleroy you can see discussion here https://github.com/Zulko/eagle.js/issues/70

[2019-01-08 14:05] sleroy commented on #47
Thank you, I have done the following thing :

[code]

However the dummy / backup slide is never removed.

[2019-01-08 15:06] yaodingyd commented on #47
@sleroy your code would not work since you set slides to be empty.

[2019-02-09 18:24] faroit opened #77 "Add release notes / changelogs"
This is a great project. I stop by every now and then to check out the progress. It would help to add release notes or changelogs to provide information on new releases.

[2019-02-11 15:13] yaodingyd commented on #77
Will do. Also feature request welcome!

[2019-02-11 15:17] yaodingyd opened #78 "Extension system"
Anyone who is following this repo's development, I have created a PR #75 to add extension system to eagle.js. All comments welcome!

[2019-02-11 15:22] Zulko commented on #78
Sorry missed that, having a look now

[2019-02-16 08:39] zahachtah opened #79 "My bad: "vertical slides (nested) like reveal?" already there :-)"
Would it be possible to add that functionality easily? I find it incredibly useful when structuring slides that one can "go deeper/vertical" if there are questions related to the topic, or if one is short on time one can just skip vertical and proceed horizontally with slides. It's a great way to have presenter flexibility.

[2019-02-16 08:47] zahachtah commented on #79
Sorry, I didn't understand the paragraph on nested slideshows. I realized one can just nest these and then use e.g. vertical slide transformation to mimic vertical slides.

Awesome!

Sorry for acting before thinking!

[2019-02-16 08:47] #79 closed

[2019-02-24 01:36] netflakes opened #80 "QUESTION: How would I remote control a slide show"
Hi there this is question not an issue - just not sure where to ask this - I wrote a small presentation app using React and Reveal js to remote control presentations (presenter and viewer mode) and reveal js was very hacky to get the remote control feature to work. I am currently working on a VueJS version and would like to use eagle.js instead of reveal.js - am just not sure how I would `remote`

[2019-02-24 02:33] yaodingyd commented on #80
Unfortunately eagle.js doesn't support your remote control mechanism. But I think once #75 is merged, it is fairly easy to implement something like you describe.

[2019-03-15 13:51] faroit commented on #77
can't find the changelogs

[2019-03-28 10:09] rollakal opened #81 "nuxt babel-runtime-error"
Getting this error when tyring to use nuxt:

This dependency was not found:
* babel-runtime/core-js/object/assign in ./node_modules/eagle.js/dist/eagle.es.js

sombody had a similar isssue and knows how to fix it?

[2019-03-28 17:05] #78 closed

[2019-03-28 17:05] #77 closed

[2019-03-28 20:05] yaodingyd commented on #80
It should be doable now that you can write you own plugin. You can create a socket connection, emit event on one end and listen to event in your plugin to do `nextStep` or `previousStep` on the other end.

[2019-03-28 20:05] #80 closed

[2019-03-28 20:08] yaodingyd commented on #81
I'm not familiar with nuxt but I think you should use the commonjs distribution of eagle.js when builidng with nuxt.

[2019-05-20 16:33] jaylandro opened #82 "Hitting enter on a link triggers previousSlide"
When navigating though slides, if a user tries to keyboard **`tab`** to a link on one of the slides and use the **`enter`** key to navigate to the link (standard browser keyboard navigation) Eagle.js loads previous slide.

This is due to the fact that the browser emits a click event when hitting enter on an **`Anchor`** href link. This is caught by the click right side/click left side logic.

![im

[2019-05-20 19:34] #82 closed

[2019-05-20 19:34] yaodingyd commented on #81
close for inactivity

[2019-05-25 22:48] bgondy commented on #81
Same issue here with a clean VueJS project created with Vue CLI (without nuxt):

I've installed `eagle.js` with npm.

[code]

When i run `npm run serve`:

[code]

If I try to install it, here is what I get:

[code]

I think it is due to breaking changes introduced with Babel 7.0.0 and package renames (@babel/runtime). WDYT ?

If I remove the import statement in `dist/eagle.es.js`, I don't get any

[2019-05-25 23:17] yaodingyd commented on #81
Interesting, I’ll take a look.

On Sat, May 25, 2019 at 18:48 bgondy <notifications@github.com> wrote:

[2019-06-07 16:56] yaodingyd commented on #81
still working on update all tooling the dependencies...

[2019-06-07 17:23] bgondy commented on #81
Thank you for the update. Installing `babel-runtime` works for now.

[2019-06-10 19:58] yaodingyd commented on #81
fixed in 0.6.0

[2019-06-10 19:58] #81 closed

[2019-07-11 02:15] bala223344 commented on #43
I was using ubuntu app in win10 and it couldn't launch the browser from within ubuntu..that was the issue..thanks

[2019-07-11 13:27] yaodingyd commented on #43
@bala223344 this is an issue with `opn`. You have a better chance to solve this to open an issue there.

[2019-07-24 18:58] johnyscrazy commented on #66
I also would like to know, how you use the mixins in there?

[2019-07-25 19:16] yaodingyd commented on #66
@johnyscrazy This is already fully documented, as it's how eagle.js works

[2019-08-21 10:51] BigWillie commented on #52
This is brilliant - just what I came here to find out

[2019-08-21 17:05] yaodingyd commented on #52
PR welcome

[2019-10-05 14:37] patarapolw opened #87 "Feature request: 1. Sub-Slides 2. CodeMirror sync"
BTW, I use Reveal.js with sub-slides to implement basic flash cards.

Now, I am also implementing a CMS, with YAML-frontmatter on the top + Slides separated by either --- (for major slides) and -- (for sub slides); and also allows Pug in place of Markdown.

[2019-10-05 17:42] yaodingyd commented on #87
These are very easy to implement in user land. `Slide` in eagle is basically a regular vue component that you can have any children component inside. Beside we already have nested slides.

[2019-10-11 05:41] patarapolw commented on #87
I need example for embedded mode, i.e. not fullscreen.

Currently I've got an error `Cannot create property 'direction' on string ''`,

[code]

[code]

[code]

[2019-10-11 21:32] patarapolw commented on #87
I have completed the project, with some problems.
- `previousSlide()` and `nextSlide()` does not trigger direction change.
- `previousStep()` and `nextStep()` stacks on each other, instead of disappearing by steps.
- No navigation buttons at lower right, like Reveal.js

<https://github.com/patarapolw/eagle-markdown> (https://patarapolw.github.io/eagle-markdown)

[2019-10-11 21:32] #87 closed

[2019-10-11 21:35] patarapolw opened #88 "Programmatic navigation does not trigger `enter-prev` / `leave-prev`"
https://github.com/Zulko/eagle.js/issues/87#issuecomment-541231458

I have fixed it in my project, though. https://github.com/patarapolw/eagle-markdown/blob/990f5f63a53158bf7dcbb233c47b5ce8378db68e/src/components/EagleMarkdown.vue#L98

[2019-10-14 18:31] yaodingyd commented on #88
PR welcome!

Corresponding code is in https://github.com/Zulko/eagle.js/blob/7a9e92ee9fb9189bdb6b264808393beece29045d/src/components/Slideshow.vue#L123
and
https://github.com/Zulko/eagle.js/blob/7a9e92ee9fb9189bdb6b264808393beece29045d/src/components/Slideshow.vue#L138

[2019-10-14 18:34] yaodingyd commented on #87
Can you make this an separate issue?

This is managed in user land as Eagle.js doesn't provide any out of box UI for control. Though a plugin might be a good idea.

[2019-10-17 07:05] nils4cosee opened #89 "Suggestion for docs"
You asked: What do JavaScript-people use for docs?

I would use [vuepress](https://vuepress.vuejs.org/) for docs. It's simple to start, customizable, and it is based on vue.js as well...

[2019-10-22 13:38] christian-nils opened #90 "Vue-cli and CodeBlock"
Hi,

I spent some time on an issue that I had with my slides. I could not render correctly my code using the CodeBlock widgets.

I used the version 4 of Vue-CLI to create my project. Eagle.js (v.0.6.0) is installed as dependency via `npm`.

For instance, if I have the following code in my slide:
[code]
My slide will show
```git clone https://github.com/Zulko/eaglejs-demo.git cd eaglejs-demo npm in

[2019-10-22 13:42] yaodingyd commented on #90
Thanks! Are you willing to do a PR? Add a FAQ section right before Contribute and add your issue link there?

[2019-10-22 19:53] christian-nils commented on #90
Ok, this was the first time I do a PR. So hopefully, it was correct and useful. Have a great day! And thanks for this library.

[2019-10-23 13:58] #90 closed

[2019-10-23 15:16] #88 closed

[2019-11-01 12:43] gelinger777 opened #92 "Thumbnails"
Hi @Zulko ,
could you hint if it's possible to show thumbnails of the slides on the left ?

[2019-11-01 14:47] christian-nils commented on #92
I am personally using a VueJS menu to list all my slides (_vue-burger-menu_ using  Vuex that reads the list of my slides). I think you can definitively had something similar, but instead of a menu, a list of thumbnails.

[2019-11-02 07:17] bolerio opened #94 "Use in vuepress?"
I'm trying to use your vue-eagle-modal module in vuepress. I can build
and use it in development mode with 'npm run dev', but when I try to
build "production" version with 'npm run build', I get the following
error:

 WAIT  Extracting site metadata...
[2:17:14 AM] Compiling Client
[2:17:14 AM] Compiling Server
[2:17:27 AM] Compiled Server in 13s
[2:17:34 AM] Compiled Client in 20s
 WAIT  Rendering

[2019-11-27 10:17] christian-nils opened #95 "Not really an issue: presentation template"
Hello Guys,

I do not know if any of you would be interested in a template for your presentation, but you can have a look to the one I have created: https://github.com/christian-nils/presentation_template.
It is based on https://github.com/JiriChara/the-past-present-and-future-of-javascript and I have added a couple of things: a menu listing the different slides references for vue-router (in `stor

[2019-11-27 16:50] yaodingyd commented on #95
Thank you! I can add this to README.

[2019-11-27 16:57] #95 closed

[2019-11-27 16:57] #7 closed

[2019-11-27 16:59] yaodingyd commented on #7
added to readme

[2019-11-27 18:28] yaodingyd commented on #94
could you setup a repo?

[2019-12-09 20:28] christian-nils opened #96 "Slide number"
Hi!

I was wondering, is it possible to access the slide number in the slide component? According to https://github.com/Zulko/eagle.js/issues/29, you can use the variable `currentSlideIndex`in the `Slideshow` component. However, my slides have different background and it may be easier to access the variable within the slides.

What do you think would be the easiest way? I am modifying the Slide co

[2019-12-10 16:17] yaodingyd commented on #96
If we have slide number in slide, it will just be a pass-down property from slideshow. It will be more or less the same to access `this.$parent. currentSlideIndex`.

I would say given the complexity of your slide component, you might want to use mixin for you slide, in this way you can store the slide number as `data` in your slide.

[2019-12-10 19:21] christian-nils commented on #96
Alright! Thanks for the tips @yaodingyd! Have a great day

[2019-12-10 19:21] #96 closed

[2019-12-28 09:39] ericwwwu opened #97 "Is there a api I can go directly to a page number?"
Reduced test case: https://codesandbox.io/s/m5w17zvp39

[2019-12-28 11:20] ericwwwu commented on #97
found it, by setting currentSlideIndex. Closing this.

[2019-12-28 11:20] #97 closed

[2020-01-11 17:00] Arteneko commented on #66
It would be nice to not have pug as default, or at least a setup killswitch to not have it.

[2020-01-23 01:28] patleb opened #98 "Doesn't work with component generating svg nodes"
I was trying to build a slide with [vue-flowy](https://github.com/Patcher56/vue-flowy), but it looks like any generated svg node is removed somehow when it's within an eagles.js slide. Do you know a workaround by any chance?

[2020-01-23 02:09] #98 closed

[2020-03-04 16:09] llorllale commented on #66
I was not able to run a basic hello world without installing it as a devDependency

[2020-03-05 15:35] yaodingyd commented on #66
@llorllale can you link me to a repo of your setup?

[2020-05-10 14:31] errajswami commented on #89
https://errajswami.github.io/eagle.js/
Here is POC

[2020-08-25 05:30] seanodea opened #100 "Repeat slideshow example"
Hi, can you provide a doc example needed to set the slideshow to repeat = true?

Reduced test case: https://codesandbox.io/s/m5w17zvp39

[2020-10-02 21:54] jbool24 opened #101 "Error: btoa is not defined"
I keep getting this error at build time when creating static versions of this Vue app. Not sure what this function/variable is meant to reference.

[code]

[2020-10-26 04:35] Kylebrown9 commented on #101
I was able to find the root error.
It's an issue with vue-component-compiler itself that prevents SSR from working correctly.
https://github.com/vuejs/vue-component-compiler/issues/88

[2021-01-02 10:46] itpropro opened #103 "Vue 3 compatability"
I just tried eagle js and it's so fun to use! Is this project still being maintained and are there any plans to support Vue 3?

[2021-01-29 17:11] yaodingyd commented on #103
I guess u mean to support composition API? I'm working one a prototype

[2021-06-21 12:52] aesdotjs commented on #101
If you encounter this error, or static site generation issues i made a fork that fixes this and enables SSR with eagle.js
https://github.com/aesdotjs/eagle.js

[2021-09-27 12:44] benamar commented on #101
@aesdotjs Do you plan to make a pull request?

[2021-10-05 07:46] shalom-lab opened #105 "Vue3 Compatability"
get into rrouble when ussing eagle.js in vue3. It seems have no `$children` in vue3
![image](https://user-images.githubusercontent.com/49271035/135981071-f542ded6-f9bc-46c5-bed4-81369935bbf5.png)
![image](https://user-images.githubusercontent.com/49271035/135981129-70df00fd-2bd6-4bc3-82d3-15a64a7b43eb.png)

[2022-05-14 07:56] danielduckworth opened #106 "Frontend UI editor for eagle.js"
Hi, just wondering if you know of any projects building a frontend UI editor for eagle.js?

[2022-07-09 00:14] sosensible commented on #103
I am also wondering if the mixin approach could be simplified?

[2022-07-10 02:02] itpropro commented on #103
Hey @sosensible, unfortunately, this project seems  dead, the last update is from 2019. Try out sli.dev ;)

[2022-07-10 02:02] #103 closed